
body{
    font-family: "Courier New", "Lucida Console";
    font-size: 1em;
}
table, th, tr, td{
    border: 1px solid;
    border-collapse: collapse;
    background-color: seashell;
    text-align: center;
}

table{
    width: 100%;
}
